:root{
    --primary-color:#4682B4;
    --primary-dark-color:#0e7cd5;
    --primary-darkp-color:#012543;
    
}

*{
    box-sizing: border-box;
    outline: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.cronometro {
    text-align: center;
}

#tempo {
    font-size: 2em;
    margin-bottom: 20px;
}

button {
    font-size: 1em;
    padding: 10px 20px;
    margin: 0 10px;
}

.relogio{
    font-size: 3em;
    color:rgb(242, 22, 58);
}